<mat-card class="">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Income Tax calculator - New Regime vs Old Regime</mat-card-title>
    <mat-card-subtitle>Gross Yearly Salary</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <div class="row justify-content-md-center ">
          <label for="salary" class="col-sm-6 col-form-label">Fixed CTC</label>
          <div class="col-sm-6">
            <app-inline-edit-input (valueChanged)="salaryUpdate()" step="10000" type="currency" name="salary"
              [value]="salary" placeholder="10,00,000" currencyShowWords="true">
            </app-inline-edit-input>
          </div>
          <div class="full-width">
            <mat-slider class="full-width" thumbLabel [displayWith]="formatSalary" (input)="salaryChanged($event)"
              [(ngModel)]="salary" value="salary" step="50000" min="200000" [max]="maxSalarySlider"></mat-slider>
          </div>
        </div>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced Options Old Regime
            </mat-panel-title>

          </mat-expansion-panel-header>
        <app-old-tax-adv-option [oldRegime]="oldRegime" (inputChanged)="inputChange()"></app-old-tax-adv-option>
        </mat-expansion-panel>
        <hr />
      </div>
      <div class="col-md-6">
        <div class="row ">
          <div class="col-md-6" align="center">
            <h1>Old Regime</h1>
            <strong> {{oldRegime.taxPayable|mycurrency}} </strong>
          </div>
          <div class="col-md-6 "  align="center">
            <h1>New Regime</h1>
            <strong> {{newRegime.taxPayable|mycurrency}}</strong>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>


<mat-card class="">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Income Tax calculator (2019-20) Old Regime</mat-card-title>
    <mat-card-subtitle>Gross Yearly Salary</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table class="table  table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col" colspan="3">Old Regime</th>
            <th scope="col" colspan="3">New Regime</th>
          </tr>
          <tr>
            <th scope="col" rowspan="2">Particulars </th>
            <th scope="col">Monthly</th>
            <th scope="col">Yearly</th>
            <th scope="col" rowspan="2">Particulars </th>
            <th scope="col">Monthly</th>
            <th scope="col">Yearly</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total CTC</td>
            <td>{{oldRegime.salaryM | mycurrency}}</td>
            <td>{{oldRegime.salaryCtc | mycurrency}}</td>
            <td>Total CTC</td>
            <td>{{newRegime.salaryMonthly | mycurrency}}</td>
            <td>{{newRegime.salary | mycurrency}}</td>
          </tr>
          <tr>
            <td>Basic </td>
            <td>{{oldRegime.baseSalaryM | mycurrency}}</td>
            <td>{{oldRegime.baseSalaryY | mycurrency}}</td>
            <td>Basic </td>
            <td>{{newRegime.baseSalaryM | mycurrency}}</td>
            <td>{{newRegime.baseSalaryY | mycurrency}}</td>

          </tr>

          <tr>
            <td>Total Deductions (80C+80D+80CCD....) </td>
            <td>{{oldRegime.deductions/12 | mycurrency}}</td>
            <td>{{oldRegime.deductions | mycurrency}}</td>
            <td>Deductions (Employer NPS @10% basic) </td>
            <td>{{newRegime.deductions/12 | mycurrency}}</td>
            <td>{{newRegime.deductions | mycurrency}}</td>

          </tr>
          <tr class="table-active">
            <th>Amount after deductions </th>
            <th>{{oldRegime.amtAfterDeductions/12 | mycurrency}}</th>
            <th>{{oldRegime.amtAfterDeductions | mycurrency}}</th>
            <th>Amount after deductions </th>
            <th>{{newRegime.amtAfterDeductions/12 | mycurrency}}</th>
            <th>{{newRegime.amtAfterDeductions | mycurrency}}</th>

          </tr>
          <tr>
            <th>Tax Slab </th>

          </tr>
          <tr>
            <td>Upto 2.5 Lakhs (NIL) </td>
            <td>{{oldRegime.zeroPercent | mycurrency}}</td>
            <td>{{oldRegime.zeroPercent | mycurrency}}</td>
            <td>Upto 2.5 Lakhs (NIL) </td>
            <td>{{newRegime.zeroPercent | mycurrency}}</td>
            <td>{{newRegime.zeroPercent | mycurrency}}</td>

          </tr>
          <tr>
            <td>Between Rs 2,50,001 and Rs 5 lakh (5%) </td>
            <td>{{oldRegime.fivePercent/12 | mycurrency}}</td>
            <td>{{oldRegime.fivePercent | mycurrency}}</td>
            <td> Between Rs 2,50,001 and Rs 5 lakh (5%) </td>
            <td>{{newRegime.fivePercent/12 | mycurrency}}</td>
            <td>{{newRegime.fivePercent | mycurrency}}</td>
          </tr>
          <tr>
            <td>Between Rs 5,00,001 and Rs 7.5 lakh (20%) </td>
            <td rowspan="2">{{oldRegime.twentyPercent/12 | mycurrency}}</td>
            <td rowspan="2">{{oldRegime.twentyPercent | mycurrency}}</td>
            <td>Between Rs 5,00,001 and Rs 7.5 lakh (10%) </td>
            <td>{{newRegime.tenPercent/12 | mycurrency}}</td>
            <td>{{newRegime.tenPercent | mycurrency}}</td>
          </tr>
          <tr>
            <td>Between Rs 7,50,001 and Rs 10 lakh (20%) </td>
            <td>Between Rs 7,50,001 and Rs 10 lakh (15%) </td>
            <td>{{newRegime.fifteenPercent/12 | mycurrency}}</td>
            <td>{{newRegime.fifteenPercent | mycurrency}}</td>
          </tr>

          <tr>
            <td>Between Rs 10,00,001 and Rs 12.5 lakh (30%) </td>
            <td rowspan="3">{{oldRegime.thirtyPercent/12 | mycurrency}}</td>
            <td rowspan="3">{{oldRegime.thirtyPercent | mycurrency}}</td>
            <td>Between Rs 10,00,001 and Rs 12.5 lakh (20%) </td>
            <td>{{newRegime.twentyPercent/12 | mycurrency}}</td>
            <td>{{newRegime.twentyPercent | mycurrency}}</td>
          </tr>
          <tr>
            <td>Between Rs 12,50,001 and Rs 15 lakh (30%) </td>
            <td>Between Rs 12,50,001 and Rs 15 lakh (25%) </td>
            <td>{{newRegime.twentyFivePercent/12 | mycurrency}}</td>
            <td>{{newRegime.twentyFivePercent | mycurrency}}</td>
          </tr>
          <tr>
            <td>Above Rs 15 lakh (30%) </td>
            <td>Above Rs 15 lakh (30%) </td>
            <td>{{newRegime.thirtyPercent/12 | mycurrency}}</td>
            <td>{{newRegime.thirtyPercent | mycurrency}}</td>
          </tr>

          <tr class="table-active">
            <td>Income Tax </td>
            <td>{{oldRegime.taxBeforeCess/12 | mycurrency}}</td>
            <td>{{oldRegime.taxBeforeCess | mycurrency}}</td>
            <td>Income Tax </td>
            <td>{{newRegime.taxBeforeCess/12 | mycurrency}}</td>
            <td>{{newRegime.taxBeforeCess | mycurrency}}</td>

          </tr>
          <tr>
            <td>Education Cess @ (4%) </td>
            <td>{{oldRegime.cess/12 | mycurrency}}</td>
            <td>{{oldRegime.cess | mycurrency}}</td>
            <td>Education Cess @ (4%) </td>
            <td>{{newRegime.cess/12 | mycurrency}}</td>
            <td>{{newRegime.cess | mycurrency}}</td>

          </tr>
          <tr class="table-active">
            <th>Total Tax Outgo </th>
            <th>{{oldRegime.taxPayable/12 | mycurrency}}</th>
            <th>{{oldRegime.taxPayable | mycurrency}}</th>
            <th>Total Tax Outgo </th>
            <th>{{newRegime.taxPayable/12 | mycurrency}}</th>
            <th>{{newRegime.taxPayable | mycurrency}}</th>

          </tr>
        </tbody>
      </table>

    </div>
  </mat-card-content>
</mat-card>

<div>
  <h5>Refrences</h5>
  <pre>
      https://www.axisbank.com/progress-with-us/tax-planning/new-tax-regime-vs-old-tax-regime-union-budget-2020
      https://economictimes.indiatimes.com/wealth/tax/how-to-calculate-income-tax-for-fy-2020-21/articleshow/74706402.cms?from=mdr
    </pre>
</div>
