<div class="row ">
  <div class="col-md-7">
    <mat-card class="width90">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Income Tax calculator</mat-card-title>
        <mat-card-subtitle>Gross Yearly Salary</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="form-group row  justify-content-md-center ">
          <label for="salary" class="col-sm-6 col-form-label">Fixed CTC</label>
          <div class="col-sm-6">
            <div *ngIf="!isEdit" (click)="isEdit=true">
              <span>{{salary | mycurrency}} - {{inwords()}} </span>
            </div>
            <input *ngIf="isEdit" type="number" class="form-control-plaintext" id="salary" [(ngModel)]="salary"
              name="salary" placeholder="10,00,000" (ngModelChange)="inputChange()" step="10000" (blur)="isEdit=false">
          </div>
          <div class="full-width">
            <mat-slider class="full-width" thumbLabel [displayWith]="formatSalary" (input)="salaryChanged($event)"
              [(ngModel)]="salary" value="salary" step="50000" min="200000" max="5000000"></mat-slider>
          </div>
        </div>
        Tax = {{totalNewRegimeTax|mycurrency}}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Duration</th>
                <th scope="col">Tax payable in New Regime</th>
              </tr>
            </thead>
            <tbody>
    
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Duration</th>
            <th scope="col">Amount monthly</th>
            <th scope="col">Total Value</th>
            <th scope="col">Wealth Gain</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!--   -->
<div class="pt-5 row">
  <div class="col-md-6">
    <h3>Formula used by SIP Calculator</h3>

  </div>
</div>
