<div class="row ">
  <div class="col-md-6">
    <mat-card class="">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Income Tax calculator (2019-20) Old Regime</mat-card-title>
        <mat-card-subtitle>Gross Yearly Salary</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row justify-content-md-center pl-2">
          <label for="salary" class="col-6 col-form-label">Fixed CTC</label>
          <div class="col-6">
            <app-inline-edit-input (valueChanged)="salary=$event; salaryUpdate()" step="10000" type="currency"
              name="salary" [value]="salary" placeholder="10,00,000" currencyShowWords="true">
            </app-inline-edit-input>
          </div>
          <div class="full-width pl-2 pr-2">
            <mat-slider class="full-width" thumbLabel [displayWith]="formatSalary" (input)="salaryChanged($event)"
              [(ngModel)]="salary" value="salary" step="50000" min="200000" [max]="maxSalarySlider"></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="row justify-content-md-center pl-2">
              <label for="basic-monthly-salary" class="col-6 col-form-label">Montly Basic:</label>
              <div class="col-6">
                <app-inline-edit-input (valueChanged)="oldRegime.baseSalaryM = $event; inputChange()" step="500"
                  type="currency" name="basic-monthly-salary" [value]="oldRegime.baseSalaryM" placeholder="30,000">
                </app-inline-edit-input>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row justify-content-md-center">
              <label for="basic-monthly-salary" class="col-6 col-form-label">Yearly Basic:</label>
              <div class="col-6">
                <p class="mt-2">{{ (oldRegime.baseSalaryM*12) |mycurrency}}</p>
              </div>
            </div>
          </div>
        </div>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced Options Old Regime
            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr />
          <app-old-tax-adv-option [oldRegime]="oldRegime" (inputChanged)="inputChange()"></app-old-tax-adv-option>
        </mat-expansion-panel>
        <hr />
        <div>
          <span *ngIf="salary>500000">Total Tax Payable = <strong> {{oldRegime.taxPayable|mycurrency}}
            </strong><em>{{taxInWords}}</em>
          </span>
          <span *ngIf="salary>4000000"><br /><br />Buddy get an CA he will guide you properly. And also please teach me
            what you do to earn {{oldRegime.salaryCtc}}, Thanks.</span>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="mt-3">
      <div>
        Given below are the income tax slabs that are applicable in the new tax regime for individuals from FY
        2020-21:
      </div>
      <div class="table-responsive  table-sm">
        <table class="table">
          <thead>
            <tr>
              <th>S. No. </th>
              <th>Income slabs</th>
              <th>Income tax rate (%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Upto 2.5 Lakhs </td>
              <td>NIL</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Between Rs 2,50,001 and Rs 5 lakh </td>
              <td>5%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Between Rs 5,00,001 and Rs 10 lakh </td>
              <td>20%</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Above Rs 10 lakh </td>
              <td>30%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <mat-card class="">
      <mat-card-content>
        <div class="table-responsive">
          <table class="table  table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col" rowspan="2">Income Tax Calculation </th>
                <th scope="col">Monthly</th>
                <th scope="col">Yearly</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total CTC</td>
                <td>{{oldRegime.salaryM | mycurrency}}</td>
                <td>{{oldRegime.salaryCtc | mycurrency}}</td>
              </tr>
              <tr>
                <td>Basic </td>
                <td>{{oldRegime.baseSalaryM | mycurrency}}</td>
                <td>{{oldRegime.baseSalaryY | mycurrency}}</td>
              </tr>
              <tr>
                <td>Standard Deductions </td>
                <td>{{ 50000/12 | mycurrency}}</td>
                <td>{{ '50000' | mycurrency}}</td>
              </tr>
              <tr>
                <td>EPF + PF </td>
                <td>{{oldRegime.dedpf/6 | mycurrency}}</td>
                <td>{{oldRegime.dedpf*2 | mycurrency}}</td>
              </tr>
              <tr>
                <td>ELSS/PPF/H.Loan 80C </td>
                <td>{{oldRegime.ded80C/12 | mycurrency}}</td>
                <td>{{oldRegime.ded80C | mycurrency}}</td>
              </tr>
              <tr>
                <td>Total Deductions</td>
                <td>{{oldRegime.deductions/12 | mycurrency}}</td>
                <td>{{oldRegime.deductions | mycurrency}}</td>
              </tr>
              <tr class="table-active">
                <th>Amount after deductions </th>
                <th>{{oldRegime.amtAfterDeductions/12 | mycurrency}}</th>
                <th>{{oldRegime.amtAfterDeductions | mycurrency}}</th>
              </tr>
              <tr>
                <th>Tax Slab </th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>Upto 2.5 Lakhs (NIL) </td>
                <td>{{oldRegime.zeroPercent | mycurrency}}</td>
                <td>{{oldRegime.zeroPercent | mycurrency}}</td>
              </tr>
              <tr>
                <td>Between Rs 2,50,001 and Rs 5 lakh (5%) </td>
                <td>{{oldRegime.fivePercent/12 | mycurrency}}</td>
                <td>{{oldRegime.fivePercent | mycurrency}}</td>
              </tr>

              <tr>
                <td>Between Rs 5,00,001 and Rs 10 lakh (20%) </td>
                <td>{{oldRegime.twentyPercent/12 | mycurrency}}</td>
                <td>{{oldRegime.twentyPercent | mycurrency}}</td>
              </tr>

              <tr>
                <td>Above Rs 10 lakh (30%) </td>
                <td>{{oldRegime.thirtyPercent/12 | mycurrency}}</td>
                <td>{{oldRegime.thirtyPercent | mycurrency}}</td>
              </tr>
              <tr class="table-active">
                <td>Income Tax </td>
                <td>{{oldRegime.taxBeforeCess/12 | mycurrency}}</td>
                <td>{{oldRegime.taxBeforeCess | mycurrency}}</td>
              </tr>
              <tr>
                <td>Education Cess @ (4%) </td>
                <td>{{oldRegime.cess/12 | mycurrency}}</td>
                <td>{{oldRegime.cess | mycurrency}}</td>
              </tr>
              <tr class="table-active">
                <th>Total Tax Outgo </th>
                <th>{{oldRegime.taxPayable/12 | mycurrency}}</th>
                <th>{{oldRegime.taxPayable | mycurrency}}</th>
              </tr>
            </tbody>
          </table>

        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div>
    <h5>Refrences</h5>
    <pre>
      https://www.axisbank.com/progress-with-us/tax-planning/new-tax-regime-vs-old-tax-regime-union-budget-2020
      https://economictimes.indiatimes.com/wealth/tax/how-to-calculate-income-tax-for-fy-2020-21/articleshow/74706402.cms?from=mdr
    </pre>
  </div>
