<mat-selection-list  [multiple]="false">
    <mat-list-option routerLink="/sip" >
      SIP Calculator
    </mat-list-option>
    <mat-list-option  routerLink="/old-vs-new-regime-income-tax-calculator">
     Old vs New Regime Income Tax
     </mat-list-option>
    <mat-list-option  routerLink="/income-tax-calculator">
     Income Tax Calculator 2020-21
    </mat-list-option>
    <mat-list-option  routerLink="/old-income-tax-calculator-2019-20">
      Income Tax Calculator 2019-20
     </mat-list-option>
   
  </mat-selection-list>