<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="/sip">
    <span class="stext">SIP Calculator</span> 
  </mat-list-option>
  <mat-list-option routerLink="/old-vs-new-regime-income-tax-calculator" (click)="onClick()">
    <span  class="stext">Old vs New Regime Income Tax</span>
  </mat-list-option>
  <mat-list-option routerLink="/income-tax-calculator" (click)="onClick()">
    <span  class="stext"> (New Regime) Income Tax</span>
  </mat-list-option>
  <mat-list-option routerLink="/old-regime-income-tax-calculator" (click)="onClick()">
    <span  class="stext"> (Old Regime) Income Tax</span>
  </mat-list-option>
  <mat-list-option routerLink="/salary-calculator" (click)="onClick()">
    <span  class="stext">  Salary calculator</span>
  </mat-list-option>
  <mat-list-option routerLink="/emi" (click)="onClick()">
    <span  class="stext">  EMI calculator</span>
  </mat-list-option>
</mat-selection-list>
