
<footer>
  <div class="container-fluid p-4">
    <div class="row">
      <!-- <div class="col-md-3">
        <h2 class="white-text">My Fiancial Calculator</h2>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div> -->
      <div class="col-md-3">
        <h2 class="white-text  text-center" >Income Tax</h2>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/old-vs-new-regime-income-tax-calculator">Old vs New Regime Income Tax</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/income-tax-calculator">(New) Income Tax 2020-21</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/old-income-tax-calculator-2019-20">(Old) Income Tax 2019-20 </a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/salary-calculator"> Salary calculator </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2 class="white-text  text-center">Investment</h2>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/sip">Sip Calculator</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <h2 class="white-text  text-center">EMI</h2>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/emi/home-loan">Home Loan</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/emi/car-loan">Car Loan</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/emi/edu-loan">Educational Loan</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/emi/personal-loan">Personal Loan</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/emi">EMI Loan</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright pb-3 pt-3  text-center">
    <div class="container">
    © 2020 Design, created, developed, published by 
    <a class="grey-text text-lighten-4 right" href="https://anktbansal.co.in">Ankit Bansal</a>
    </div>
  </div>
</footer>