/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


@include mat.core();

// Light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme:   mat.define-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn:    mat.define-palette(mat.$deep-orange-palette);
$dark-theme:   mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
}

@media (prefers-color-scheme: dark) {
 // @include angular-material-theme($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}


.snackbar-container {
  margin-top: 70px !important;
  color: beige;

  &.error {
    background-color: #c62828 !important;
  }

  &.success {
    background-color: #2e7d32 !important;
  }

  &.warning {
    background-color: #ff8f00 !important;
  }
}

.fc-basic-card{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 1rem;
}

.cursor-pointer{
  cursor: pointer;
}

.color-red{
  color: red;
}
