<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button class="example-icon" (click)="toggleDrawer()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Financial Calculator</span>
  <span class="spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button mat-icon-button class="example-icon " aria-label="Example icon-button with share icon">
    <a class="f-share" href="https://api.whatsapp.com/send?text=%20https%3A%2F%2Ffincalculator.com" target="_blank"><mat-icon>share</mat-icon></a>
  </button>
</mat-toolbar>
