<div class="row ">
  <div class="col-md-7">
    <mat-card class="width90">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>SIP calculator</mat-card-title>
        <mat-card-subtitle>For mutual funds</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row ">
          <div class="col-md-7">
              <div class=" pl-3 pr-2">
            <div class="form-group row  justify-content-md-center ">
              <label for="amount" class="col-6 col-form-label">Montly Investment</label>
              <div class="col-6">
                <input type="number" class="form-control" id="amount" [(ngModel)]="amount" name="amount"
                  placeholder="3000" min="500" step="500" (ngModelChange)="inputChange()">
              </div>
              <div class="full-width">
                <mat-slider class="full-width" thumbLabel [displayWith]="formatAmount" (input)="amountChanged($event)"
                  [(ngModel)]="amount" value="amount" step="500" min="500" max="120000"></mat-slider>
              </div>
            </div>
            <div class="form-group row  justify-content-md-center">
              <label for="interest" class="col-6 col-form-label">Interest Rates (%)</label>
              <div class="col-6">
                <input [(ngModel)]="interest" class="form-control" name="interest" type="number" matInput
                  #message maxlength="2" placeholder="12" (ngModelChange)="inputChange()">
              </div>
              <div class="full-width">
                <mat-slider thumbLabel [displayWith]="formatInterest" class="full-width"
                  (input)="interestChanged($event)" [(ngModel)]="interest" value="interest" step="0.5" min="-10"
                  max="51"></mat-slider>
              </div>
            </div>
            <div class="form-group row  justify-content-md-center">
              <label for="years" class="col-4 col-form-label">Number of Years</label>
              <div class="col-4">
                <div class="mt-2">{{years*12 | number : '1.0-0'}} months</div>
              </div>
              <div class="col-4">
                <input [(ngModel)]="years" id="years" class="form-control" name="years" type="number" matInput
                  #message maxlength="3" min="1" placeholder="36" (ngModelChange)="inputChange()">
              </div>
            
              <div class="full-width">
                <mat-slider thumbLabel [displayWith]="formatYear" class="full-width" (input)="yearsChanged($event)"
                  [(ngModel)]="years" value="years" step="1" min="1" max="35"></mat-slider>
              </div>
            </div>
          </div>
        
        </div>
          <div #pieChartRef  class="col-md-4">
            <div *ngIf="single.length>0">
              <ngx-charts-pie-chart [view]="view" class="pr-1" [scheme]="colorScheme" [results]="single"
                [gradient]="gradient" [legend]="showLegend" [doughnut]="isDoughnut">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-3 " align="center">
            Invested Amount <h4> {{ investedAmount()|  mycurrency}}</h4>
          </div>
          <div class="col-md-3"  align="center">
            Est. Returns <h4>{{earnings() | mycurrency}}</h4>
          </div>
          <div class="col-md-3" align="center">
            Total <h4>{{total | mycurrency}}</h4>
            <div>{{getValueInWords(total)}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5">
    <mat-card class="width90">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Calculation for different years</mat-card-title>
        <mat-card-subtitle>For mutual funds</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
    <div class="table-responsive-md">
    <table class="table table-striped table-sm" *ngIf="sipArr.length>0">
      <thead>
        <tr>
          <th scope="col">Duration</th>
          <th scope="col">Amount monthly</th>
          <th scope="col">Total Value</th>
          <th scope="col">Wealth Gain</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sipArr" (click)="tableClicked(item)">
          <th scope="row" >{{item.yr}} yr</th>
          <td>{{item.amt | mycurrency}}</td>
          <td>{{item.total |mycurrency}}</td>
          <td>{{item.earn |mycurrency}}</td>
        </tr>

      </tbody>
    </table>
    
    </div>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<!--   -->
<div class="pt-5 row">
  <div class="col-md-6">
    <h3>Formula used by SIP Calculator</h3>
    <table class="formula table-condensed">
      <tbody>
        <tr>
          <td></td>
          <td rowspan="2">FV =</td>
          <td>P * ( R * ( 1+i )<sup>n</sup> -1 )</td>
          <td rowspan="2">* ( 1 + i )</td>
        </tr>
        <tr>
          <td></td>
          <td style="border-top:1px solid #000;text-align:center">i</td>
        </tr>
      </tbody>
    </table>

    <p><b>FV =</b> Future Value</p>

    <p><b>P =</b> SIP amount</p>

    <p><b>i =</b> compounded rate of return</p>

    <p>As the returns are compounded for every investment instalment, monthly SIP will be compounded as: i/12.</p>

    <p>Similarly, daily SIP will be compounded as i/365.</p>

    <p>For instance, your SIP amount is Rs 10,000 for a tenure of 24 years. You expect 10% annual rate of return. Then
      the future value of your SIP would be calculated as below:</p>

    <p>Here, P= 10000</p>

    <p>i = 10% = (10/100)/12 = 1/120</p>

    <p>N= 12 years</p>

    <table class="formula table-condensed" style="width:80%">
      <tbody>
        <tr>
          <td></td>
          <td rowspan="2">FV =</td>
          <td style="text-align:center">10000 * ( ( 1+1/120)<sup>12 </sup>-1 )</td>
          <td rowspan="2">* ( 1 + 1/120 )</td>
        </tr>
        <tr>
          <td></td>
          <td style="border-top:1px solid #000;text-align:center">1/120</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <pre> References:
    https://rdcalculator.site/sip-calculator.html
    https://www.personalfn.com/calculator/sip-calculator
    https://groww.in/calculators/sip-calculator/
</pre>
  </div>
</div>
