/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}


.snackbar-container {
  margin-top: 70px !important;
  color: beige;

  &.error {
    background-color: #c62828 !important;
  }

  &.success {
    background-color: #2e7d32 !important;
  }

  &.warning {
    background-color: #ff8f00 !important;
  }
}

.fc-basic-card{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 1rem;
}